.general-banner {
  position: relative;
}

.general-banner__icon {
  position: absolute;
  width: 4rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;
}


.general-services__category {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

.general-services__items {
  margin-top: 0;
}

.general-services__items .container-grid {
  grid-template-columns: repeat(3, 18rem);
  justify-content: center;

}


.general-service__platform {
  position: relative;
}

.general-service__platform .main-blog__bg {
  height: 100%;
}

.general-service__platform .container-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  padding: 13rem 0;
}


@media (min-width: 0px) and (max-width: 767px) {
  .general-service__platform .container-grid {
    grid-template-columns: 100%;
  }
}


.general-service__img img {
  width: 100%;
}

.general-form {
  display: flex;
  justify-content: center;
  position: relative;
  height: 33rem;
}

.general-form__title {
  color: #f47321;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.general-form__title--bold {
  font-weight: 800;

}

.general-form__content {
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 4rem 7rem;
  border-radius: 1rem;
  width: 70%;
  position: absolute;
  transform: translateY(-9rem);
  z-index: 99;
}

.general-form__bg--img {
  bottom: -12rem;
}


@media (min-width: 0px) and (max-width: 997px) {
  .general-form__content {
    width: 97%;
    padding: 2rem;
    position: initial;
    transform: initial;
  }

  .general-form {
    height: auto;
    padding: 5rem 0;
  }

  .general-form__bg--top,
  .general-form__bg--bottom {
    display: none;
  }

}


@media (min-width: 768px) and (max-width: 997px) {
  .general-form__content {
    padding: 5rem;
    width: 95%;
  }
}


.general-form input::-webkit-input-placeholder,
.general-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-transform: uppercase;
  font-weight: 600;
}

.general-form input::-moz-placeholder,
.general-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595;
  text-transform: uppercase;
  font-weight: 600;

}

.general-form input:-ms-input-placeholder,
.general-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #959595;
  text-transform: uppercase;
  font-weight: 600;

}

.general-form input:-moz-placeholder,
.general-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #959595;
  text-transform: uppercase;
  font-weight: 600;
}

.general-form__content-btn {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.general-form__bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.general-form__bg--top {
  top: -18rem;
}

.general-form--gray {
  background: #f8f8f8;
}

.general-form__bg--bottom {
  bottom: -18rem;
}

.general-about .container-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}


.general-about__img img {
  width: 100%;
}

.general-about__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clima-variables .padding-top-bottom {
  padding-bottom: 14rem;
}

.clima-variables__logo {
  display: flex;
  justify-content: center;
}

.clima-variables__logo img {
  width: 12rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.clima-variables .container-grid {
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  width: 60%;
}

/* .clima-variables__center {
  display: flex;
  justify-content: center;
  padding: 0 12rem;
} */

.clima-variables__flex {
  display: flex;
  justify-content: center;
  padding: 0 12rem;
  flex-wrap: wrap;
}

.clima-variables__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.clima-variables__item img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.clima-variables__title {
  text-align: center;
  font-weight: bold;
  font-size: .9rem;
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0;
}

@media (min-width: 0px) and (max-width: 767px) {

  .clima-variables__item {
    width: 50%;
  }

  .clima-variables__flex {
    padding: 0;
  }

  .clima-variables .padding-top-bottom {
    padding-bottom: 5rem;
  }

  .general-about .container-grid {
    grid-template-columns: 100%;
  }

  .general-about {
    padding-bottom: 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 997px) {
  .clima-variables__flex {
    padding: 0;
  }

  .general-about {
    padding-bottom: 0;
  }
}

@media (min-width: 998px) and (max-width: 1024px) {
  .clima-variables .container-grid {
    /* grid-template-columns: repeat(3, 1fr); */
    width: 80%;
    gap: 2rem;
  }
}

.commitment-about {
  padding-bottom: 16rem;
}

.commitment-about .container-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .commitment-about .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }

  .commitment-about {
    padding-bottom: 0rem;
  }

  .general-form__bg--img {
    display: none;
  }
}



.commitment-about__item {
  border-radius: 21px;
  box-shadow: 0 2px 19px 0 rgba(208, 200, 200, 0.5);
  border: solid 1px #d8d8d8;
  background-color: #f8f8f8;
  padding: 1rem;
}

.commitment-about__list {
  list-style: none;
  padding: 0;
}

.commitment-about__list li {
  margin: 1rem 0;
}

.commitment-about__list li::before {
  content: "\2022";
  color: #f47321;
  font-weight: bold;
  margin-right: 3px;
  margin-left: 0px;

  display: inline-block;
}

@media (min-width: 768px) and (max-width: 997px) {

  .commitment-about {
    padding-bottom: 0;
  }

  .commitment-about .container-grid {
    grid-template-columns: 100%;
    gap: 3rem;
  }

  .commitment-about__item {
    padding: 2rem;
  }

  .general-form__bg--img {
    display: none;
  }

}

.happiness-about .container-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.happiness-about__gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.happiness-about__text {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.happiness-about__text .main-team__icon {
  margin-top: 5rem;
}

.happiness-about__img img {
  width: 100%;
  height: 100%;
}

.happiness-about__img:nth-child(2) img,
.happiness-about__img:nth-child(3) img {
  width: 90%;
  height: 90%;
}

.happiness-about__img:nth-child(2) {
  display: flex;
  align-items: flex-end;
}

.happiness-about__img:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 0px) and (max-width: 767px) {
  .happiness-about {
    padding-bottom: 0;
  }

  .happiness-about__text .main-team__icon {
    margin-top: 0;
  }

  .happiness-about .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }

}

.questionnaire-about {
  padding-bottom: 14rem;
}

.questionnaire-about .container-grid {
  grid-template-columns: 60% 40%;
  gap: 3rem;
}

.questionnaire-about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questionnaire-about__img img {
  width: 25rem;
}

.questionnaire-about__logo img {
  width: 12rem;
  margin-top: 2rem;
}

@media (min-width: 0px) and (max-width: 767px) {

  .questionnaire-about .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }

  .questionnaire-about {
    padding-bottom: 0;
  }
}


@media (min-width: 768px) and (max-width: 997px) {

  .questionnaire-about__img img {
    width: 100%;
  }

  .questionnaire-about {
    padding-bottom: 0;
  }
}

.road-about {
  padding-bottom: 12rem;
}

.road-about .main-service__card {
  height: 22rem;
}

.road-about .main-service__items {
  margin-top: 0;
}

.road-about .main-service__card .main-general__description {
  margin-bottom: 0;
}


@media (min-width: 0px) and (max-width: 997px) {
  .road-about {
    padding-bottom: 0;
  }
}